.text-decorator-none{
    text-decoration: none;
}
.btnAtualizarTema{
    background-color: #464E57 !important;
    color: #21dc2a !important;
    font-weight: bold !important;
    justify-content: s;
}
.btnDeletarTema{
    background-color: #464E57 !important;
    color: #ce3934 !important;
    font-weight: bold !important;
}
.cardTema{
    max-width: 250px;
}