.text-decorator-none{
    text-decoration: none;
}
.btnAtualizarTema{
    background-color: #464E57 !important;
    color: #21dc2a !important;
    font-weight: bold !important;
    justify-content: s;
}
.btnDeletarTema{
    background-color: #464E57 !important;
    color: #ce3934 !important;
    font-weight: bold !important;
}
.cardTemaa{
    max-width: 250px;
    background-color: #333 !important;
    color: #e3e3e3 !important;
    border: 1px solid #7d7f81 !important;
}
.fundo{
    background-color: #333;
    padding: 10px !important;
    display: flex;
    flex-wrap: wrap;
}