.caixa{
   /*  background-color: #EF911F; */
    background-image: linear-gradient(#ae5701, #EF911F);
}
.btn-post{
    border: none !important;
    color: white!important;
    background-color: #306E67 !important;
}
.btn-post:hover{
    background-color: #3e8b82 !important;
    
}
.titulo{
   color: #2D2B1E !important;
   font-weight: bold !important;
}
.postagens{
    background-color: white;
}
