.caixa{
   /*  background-color: #EF911F; */
    background-color: #fba43a;
}
.decoration{
    text-decoration: none;
}
.btn-post{
    background-color: transparent !important;
    border: solid 1px #222 !important;
    color: #222 !important;
    padding: 4px 8px !important;
}
.btn-post:hover{
    background-color: #e3e3e3 !important;
    border: solid 1px #e3e3e3 !important;
    color: #222 !important;
    
}
.titulo{
   color: #222 !important;
   font-weight: bold !important;
}
.postagens{
    background-color: white;
}
