.box1{
    background-color: #c06d08;
    height: 120px;
}
.box2{
    background-color: #2D2B1E;
    height: 60px;
}
.redes{
    color: white;
    font-size: 60px !important;

}
.redes:hover{
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}
.textos{
    color: white;
}