.box1{
    background-color: #df8516;
    height: 120px;
}
.box2{
    background-color: #2D2B1E;
    height: 60px;
}
.redes{
    color: #e3e3e3;
    font-size: 60px !important;
}
.contate-se{
    color: #e3e3e3;
}
.redes:hover{
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}
.textos{
    color: white;
}
.decoration_none{
    text-decoration: none;
}